<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="江志伟-个人博客">
    <meta name="keywords" content="jiangzhiwei,江志伟,个人网站">
    <meta name="author" content="jiangzhiwei">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/asset/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/asset/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/asset/css/demo.css">

    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="~/asset/css/card.css">
    <link rel="stylesheet" type="text/css" href="~/asset/css/pattern.css">
</head>
<body class="demo-1">
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
